
/* estilo para las tarjetas */
.cards {
  margin-top: 60px;
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards .card {
  background: #758795;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.4);
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

.card-name {
  color: #444;
  font-weight: 600;
}

/* estilo para los iconos de la segunda tarjeta */
.icon-box i {
  font-size: 45px;
  color: #444;
}

/* estilo para las tablas */
.tables {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  align-items: self-start;
  padding: 0 20px 20px 20px;
}

/* configuracion de las imagenes de la segunda tarjeta */
.img-box-small {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

/* estilos de la tabla que continen los reportes */
.last-report,
.report-for-days {
  min-height: 350px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

/* estilo para todos los estilos de los encabezados */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444;
}
.heading .search,
.top-bar .search {
  position: relative;
  max-width: 400px;
}

.search input,
.top-bar .search {
  width: 100%;
  min-width: 128px;
  height: 40px;
  padding: 0 40px;
  font-size: 16px;
  outline: none;
  border: none;
  background: #f5f5f5;
}

/* estilo par alos buscadores */
.search i {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/* margenes de las tablas */
table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

thead td {
  font-weight: 600;
  color: #333;
}

table tr {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

tbody tr:hover {
  background: #444;
  color: #fff;
}

table tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 9px 5px;
}

td i {
  padding: 7px;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.last-report table tbody td:last-child {
  white-space: nowrap;
}

.fa-eye {
  background: #32bea6;
  cursor: pointer;
}

.fa-edit {
  background: #63b4f4;
  cursor: pointer;
}

.fa-trash-alt {
  background: #ed5564;
  cursor: pointer;
}

/* mediaquerys para que la pagina sea resposive con unos margenes definidos */
@media (max-width: 1090px) {
  .sidebar {
    width: 60px;
  }
  .main {
    width: calc(100% - 60px);
    left: 60px;
  }
  .top-bar {
    width: calc(100% - 60px);
  }
}

@media (max-width: 860px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .tables {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 530px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .last-report td:nth-child(3) {
    display: none;
  }
}

@media (max-width: 420px) {
  .last-report,
  .report-for-days {
    font-size: 70%;
    padding: 10px;
    min-height: 200px;
  }
  .cards,
  .tables {
    padding: 10px;
  }
  .search input {
    padding: 0 10px;
  }
  .user {
    width: 40px;
    height: 40px;
  }
}
